body{

font-family: 'Noto Sans TC', sans-serif;

}

.navbar{

	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
	min-height: 70px;


}

.nav-link:hover {  color: #1a1a1a;  }

#primeraLinea{
	margin-top: 70px;
	
	margin-left:5px;
	margin-right:5px ;
	padding: 10px;
}

#segundaLinea{
	
	margin-bottom: 15px;
	margin-left:5px;
	margin-right:5px ;
	padding: 10px;
}

#recuadro1{
height: 90px;
min-height: 10px;
}

#recuadro2{
height: 90px;
min-height: 10px;
}

#recuadro3{
height: 90px;
min-height: 10px;
}

#recuadro4{
height: 90px;
min-height: 10px;	
}

.btn-block{

	height: 90px;

}

#boton0{
	background-color: #bebebe;	

}

#boton1{
	background-color: blue;	

}

#boton2{
	background-color: green;	

}

#boton3{
	background-color: red;

}


#boton4{
	background-color: yellow;	

}

#boton5{
	background-color:  violet;

}

#boton6{
	background-color: brown;	

}

#boton7{
	background-color: black;

}

.btn-primary{

	position: relative;
	left: 43%;
}

.btn-warning{
	position: relative;
	left: 43%;
	
}